<h1>Log In</h1>

<% form_tag session_path do -%>
<p><label>login</label><br />
<%= text_field_tag 'login', @login %></p>

<p><label>password</label><br/>
<%= password_field_tag 'password', nil %></p>

<p><%= check_box_tag 'remember_me', '1', @remember_me %><label>remember me</label>
</p>


<p><%= submit_tag 'Log in' %> <%= link_to "register", signup_path %></p>
<% end -%>
