<table>
<tr align="left">	
	<th>admin?</th>
	<th>state</th>
	<th>login</th>
	<th>posts</th>
	<th>backlogs</th>
</tr>
<%for user in @users %>
<tr>	
	<td><%= user.admin %></td>
	<td><%= user.state %></td>
	<td><%= user.login %></td>
	<td><%= user.posts.length %></td>
	<td> <%= user.backlogs.length %> </td>
</tr>
<%end%>	
</table>