<div class="nav">
<%= link_to "posts", posts_path %> | 
<%= link_to "users", users_path %> | 
<%= link_to "backlog", backlogs_path %> | 
<%= link_to "new post", new_post_path %> |
<%= link_to "logout", logout_path %>
</div>